/* reset */
@import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css');
@import url('https://webfontworld.github.io/NexonMabinogi/MabinogiClassic.css');
@import url('https://webfontworld.github.io/earlyfont/EF_Hyunygothic.css');
@import url('https://webfontworld.github.io/amore/AritaDotum.css');
@import url('https://webfontworld.github.io/ssf/BeanPole.css');
@import url('https://webfontworld.github.io/vitro/VitroPride.css');
@import url('https://webfontworld.github.io/jeju/JejuGothic.css');
@import url('https://webfontworld.github.io/yangheeryu/GowunDodum.css');
@import url('https://webfontworld.github.io/score/SCoreDream.css');
@import url('https://webfontworld.github.io/ridi/RidiBatang.css');


* {
    margin: 0;
    padding: 0;
    color: #fff;
}
*,*::before,*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #222;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
li,ul,ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
em {
    font-style: normal; /*기울기체로 나와서 기울기체 해제*/
}
.font01 {
    font-family: 'TheJamsil';
    font-weight: 300;
}
.font02 {
    font-family: 'MabinogiClassic';
    font-weight: 300;
}
.font03 {
    font-family: 'EF_Hyunygothic';
    font-weight: 300;
}
.font04 {
    font-family: 'AritaDotum';
    font-weight: 300;
}
.font05 {
    font-family: 'BeanPole';
    font-weight: 300;
}
.font06 {
    font-family: 'VitroPride';
    font-weight: 300;
}
.font07 {
    font-family: 'JejuGothic';
    font-weight: 300;
}
.font08 {
    font-family: 'GowunDodum';
    font-weight: 300;
}
.font09 {
    font-family: 'SCoreDream';
    font-weight: 300;
}
.font10 {
    font-family: 'RidiBatang';
    font-weight: 300;
}
body {
    background-color: #c8b4f0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}
body.img01 {
    background-image: url(../img/sliderEffect01-min.jpg);
}
body.img02 {
    background-image: url(../img/sliderEffect02-min.jpg);
}
body.img03 {
    background-image: url(../img/sliderEffect03-min.jpg);
}
body.img04 {
    background-image: url(../img/sliderEffect04-min.jpg);
}
body.img05 {
    background-image: url(../img/sliderEffect05-min.jpg);
}
body.img06 {
    background-image: url(../img/sliderEffect06-min.jpg);
}
body.img07 {
    background-image: url(../img/sliderEffect07-min.jpg);
}
body.img08 {
    background-image: url(../img/sliderEffect08-min.jpg);
}
body.img09 {
    background-image: url(../img/sliderEffect09-min.jpg);
}
body.img10 {
    background-image: url(../img/sliderEffect10-min.jpg);
}
body::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
body.bg01::after {
    background-color: rgba(232, 123, 123, 0.3);
}
body.bg02::after {
    background-color: rgba(127, 79, 246, 0.3);
}
body.bg03::after {
    background-color: rgba(89, 92, 243, 0.3);
}
body.bg04::after {
    background-color: rgba(57, 64, 112, 0.3);
}
body.bg05::after {
    background-color: rgba(47, 27, 74, 0.79);
}
body.bg06::after {
    background-color: rgba(95, 95, 53, 0.3);
}
body.bg07::after {
    background-color: rgba(106, 134, 79, 0.3);
}
body.bg08::after {
    background-color: rgba(68, 126, 96, 0.3);
}
body.bg08::after {
    background-color: rgba(164, 106, 65, 0.3);
}
body.bg10::after {
    background-color: rgba(160, 166, 102, 0.3);
}