.footer__menu {
    flex-wrap: wrap;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.footer__menu div {
    width: 16.6666%;
}
.footer__menu h3 {
    margin-bottom: 13px;
}
.footer__menu li {
    line-height: 1.9;
    font-size: 14px;
    
}
.footer__menu li a {
    color: #666;
}
.footer__sitename {
    margin-top: 50px;
    border-top: 1px solid #d9d9d9;
    padding-top: 50px;
    text-align: center;
    font-size: normal;
    line-height: 1.6em;
}

@media (max-width: 960px){
    .footer__menu {
        flex-wrap: wrap;
    }
    .footer__menu > div {
        width: 32.3333%;
        margin-bottom: 3%;
        text-align: center;
    }
}
@media (max-width: 600px){
    .footer__menu > div {
        width: 49%;
    }
}