.image__inner {
    display: flex;
    justify-content: space-between;
}
.image__inner .image {
    width: 570px;
    background-color: #ccc;
    position: relative;  /* 기준점 잡을 때 씀 */
}       
.image__body {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    text-align: left;           
    padding: 30px;
}
.image__body .title {
    font-size: 32px;
    margin-bottom: 15px;
    color: #fff;
}
.image__body .desc {
    margin-bottom: 15px;
    line-height: 1.5;
    padding-right: 0%;
    color: #fff;
}
.image__body .btn1 {
    color: #fff;
    background-color: #81131C;
    padding: 10px 30px;
    display: inline-block;
}
.image__body .btn2 {
    color: #fff;
    background-color: #73421E;
    padding: 10px 30px;
    display: inline-block;
}

/* 미디어쿼리 */
@media (max-width: 960px){
    .image__body {
        display: none;
    }
}
@media (max-width: 600px){
    .image__inner {
        flex-direction: column;
    }
    .image__inner .image {
        width: 100%;
        margin-bottom: 3%;
    }
    .image__body .title {
        font-size: 22px;
        margin-bottom: 10%;
    }
    .image__body .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}