.slider__inner .slider {
    height: 600px;
    background-image: url(../img/SLIDER-TYPE01@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}
.slider__inner .slider::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.slider__info {
    padding: 100px 0;
}
.slider__info .small {
    display: inline-block;
    padding: 1px 30px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.slider__info .title {
    font-size: 80px;
    color: #fff;
    margin-bottom: 40px;
    margin-left: -5px;
}
.slider__info .desc {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    width: 50%;
    word-break: keep-all;
}
.slider__info .btn {
    margin-top: 100px;
}
.slider__info .btn a {
    width: 180px;
    padding: 12px 0;
    background-color: #fff;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    margin-right: 4px;
}
.slider__info .btn a:last-child {
    background-color: #000;
    color: #fff;
}         
.slider__arrow a {
    position: absolute;
    top: 50%;
    background-image: url(../img/icon_arrow.svg);
    background-size: 500px;
    width: 30px;
    height: 56px;
    display: block;
    margin-top: -28px;
}
.slider__arrow a:first-child {
    left: 20px;
}
.slider__arrow a:last-child {
    right: 20px;
    background-position: -52px 0;
}
.slider__dot {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}
.slider__dot a {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../img/icon_main.svg);  
    background-size: 500px;     
    margin: 0 3px;     
}
.slider__dot a.dot {
    background-position: -101px -1px;
}
.slider__dot a.active {
    background-position: -121px -1px;
}
.slider__dot a.play {
    background-position: -141px -1px;
}
.slider__dot a.stop {
    background-position: -161px -1px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 2dppx) {
        .slider__inner .slider {
            background-image: url(../img/SLIDER-TYPE01@2x.jpg);
        }
    }

/* 미디어쿼리 */
@media (max-width: 960px){
    
}