<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="webstoryboy">
    <meta name="description" content="웹 퍼블리셔를 위한 정보 공유 사이트입니다.">
    <meta name="keywords" content="웹스토리보이, 웹 퍼블리셔, 웹 표준, 웹 접근성, 화려한 디자인, webstoryboy, publisher, css3, html, markup, design, Webstoryboy">
    <title>조은경 | Webstoryboy | Class</title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/docs.min.css" rel="stylesheet">
    <link href="../assets/css/prism.css" rel="stylesheet">
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="../assets/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../assets/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/ico/favicon-16x16.png">
    <link rel="manifest" href="../assets/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="../assets/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#FFFFFF">
    <!-- Facebook meta tags -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="조은경" />
    <meta property="og:url" content="zany1346.dothome.co.kr/" />
    <meta property="og:image" content="zany1346.dothome.co.kr/assets/ico/icon.jpg" />
    <meta property="og:site_name" content="조은경" />
    <meta property="og:description" content="웹과 관련된 정보를 제공합니다." />
    <!-- twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@webstoryboy" />
    <meta name="twitter:title" content="조은경" />
    <meta name="twitter:description" content="웹과 관련된 정보를 제공합니다." />
    <meta property="twitter:image" content="http://richclub8.dothome.co.kr/assets/ico/icon.jpg" />
    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gaegu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.../assets2/js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <a class="sr-only" href="#content">Skip to main content</a>
    <header class="navbar navbar-inverse navbar-static-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../index.html" class="navbar-brand">WEB'S &lt;/doc&gt;</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse pull-right" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="https://inforlicense.tistory.com/">Blog</a></li>
                    <li><a href="https://github.com/webstoryboy/web2023">Github</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="bs-header bgs1" id="content">
        <div class="container">
            <h1>Class v1.0 &lt;/doc&gt;</h1>
            <p><a href="https://webstoryboy.co.kr" target="_blank">webstoryboy.co.kr</a></p>
        </div>
    </div>
    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-12">
                <h2>레이아웃 연습</h2>
                <ul>
                    <li><a href="layout01.html">레이아웃01 - flaot 유형</a></li>
                    <li><a href="layout02.html">레이아웃02 - flaot 유형</a></li>
                    <li><a href="layout03.html">레이아웃03 - flaot 유형</a></li>
                    <li><a href="layout04.html">레이아웃04 - flaot 유형</a></li>
                    <li><a href="layout05.html">레이아웃05 - flaot 유형</a></li>
                    <li><a href="layout06.html">레이아웃06 - flaot 유형 - 반응형</a></li>
                    <li><a href="layout07.html">레이아웃07 - flaot 유형 - 반응형</a></li>
                    <li><a href="layout08.html">레이아웃08 - flaot 유형 - 반응형</a></li>
                    <li><a href="layout09.html">레이아웃09 - flaot 유형 - 반응형</a></li>
                    <li><a href="layout10.html">레이아웃10 - flaot 유형 - 반응형</a></li>
                    <li><a href="layout11.html">레이아웃11 - flex 유형</a></li>
                    <li><a href="layout12.html">레이아웃12 - flex 유형</a></li>
                    <li><a href="layout13.html">레이아웃13 - flex 유형</a></li>
                    <li><a href="layout14.html">레이아웃14 - flex 유형</a></li>
                    <li><a href="layout15.html">레이아웃15 - flex 유형</a></li>
                    <li><a href="layout16.html">레이아웃16 - flex 유형 - 반응형</a></li>
                    <li><a href="layout17.html">레이아웃17 - flex 유형 - 반응형</a></li>
                    <li><a href="layout18.html">레이아웃18 - flex 유형 - 반응형</a></li>
                    <li><a href="layout19.html">레이아웃19 - flex 유형 - 반응형</a></li>
                    <li><a href="layout20.html">레이아웃20 - flex 유형 - 반응형</a></li>
                    <li><a href="layout21.html">레이아웃21 - grid 유형</a></li>
                    <li><a href="layout22.html">레이아웃22 - grid 유형</a></li>
                    <li><a href="layout23.html">레이아웃23 - grid 유형</a></li>
                    <li><a href="layout24.html">레이아웃24 - grid 유형</a></li>
                    <li><a href="layout25.html">레이아웃25 - grid 유형</a></li>
                    <li><a href="layout26.html">레이아웃26 - grid 유형 - 반응형</a></li>
                    <li><a href="layout27.html">레이아웃27 - grid 유형 - 반응형</a></li>
                    <li><a href="layout28.html">레이아웃28 - grid 유형 - 반응형</a></li>
                    <li><a href="layout29.html">레이아웃29 - grid 유형 - 반응형</a></li>
                    <li><a href="layout30.html">레이아웃30 - grid 유형 - 반응형</a></li>
                </ul>
            </div>
        </div>
        <!-- //row -->
    </div>
    <!-- //container -->
    <!-- Footer -->
    <footer class="bs-footer" role="contentinfo">
        <div class="container">
            <ul class="footer-links muted">
                <li><a href="http://webstoryboy.co.kr">webstoryboy</a></li>
            </ul>
        </div>
    </footer>
    <!-- //Footer -->
    <!-- Bootstrap core JavaScript -->
    <script src="../assets/js/jquery-1.9.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/docs.min.js"></script>
    <script src="../assets/js/prism.js"></script>
</body>
</html>