<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            background-color: #775a5a;
        }
        #wrap {}
        #wrap {}
        #wrap {}
        #wrap {}
    </style>
</head>
<body>
    <div id="wrap">
        <div id="aside">
            <div class="logo">로고</div>
            <div class="menu">메뉴</div>
        </div>
        <div id="section">
            <div class="banner">배너</div>
            <div class="contents">
                <div class="notice">공지사항</div>
                <div class="gallery">갤러리</div>
                <div class="popup">팝업</div>
            </div>
            <div class="footer">
                <div class="footerlogo">로고</div>
                <div class="footermenu">하단메뉴</div>
                <div class="copywriter">카피라이터</div>
            </div>
        </div>
    </div>    
</body>
</html>