/* music__wrap 
    + music__inner
    + music__header
    + music__contents
        + music__view
        + music__control
    + music__footer
*/
body {
    background-image: url(https://i.pinimg.com/originals/4d/b5/e0/4db5e08fce92c80eebfb240dce0c9fe4.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
.music__inner {
    width: 350px;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 22px;
    border-radius: 20px;
    box-shadow: 0 60px 100px rgba(0,0,0,0.4);
}
.music__header h2 {
    text-align: center;
    font-size: 14px;
    padding-top: 3px;
    font-family: 'Poppins';
    font-weight: 200;
}
.music__view {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50px;
    padding: 0 20px 20px 20px;
    width: 90%;
}
.music__view .image img {
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(246, 50, 50, 0.4);
}
.music__control {
    background-color: #ffffff10;
    height: 330px;
    border-radius: 15px;
    margin-top: 200px;
    padding: 20px;
}
.music__control .title {
    text-align: center;
    padding-top: 120px;
}
.music__control .title h3 {
    margin-bottom: 5px;
    color: #fff;
    font-size: 20px;
}
.music__control .title p {
    color: #999;
    font-size: 16px;
    margin-bottom: 20px;
}
.music__control .progress {
    padding: 20px;
    height: 5px;
    border-radius: 3px;
}
.music__control .progress .bar {
    width: 0%;
    height: 5px;
    background-color: #8a9b94b2;
    border-radius: 3px;
}
.music__control .progress .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
}
.music__control .progress .timer span {
    color: #2d6867;
    font-size: 12px;
    pointer-events: none;
}
.music__control .control {
    width: 100%;
    margin-top: 20px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.music__control .control span {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.music__control .control span:active {
    background-color: #eaeaea;
    border-radius: 50%;
}
.music__control .control span i {
    width: 40px;
    height: 40px;
    display: block;
    background-image: url(../img/music_icon.svg);
    background-size: 500px;
}
.music__control .control span i.repeat {
    background-position: 0 0;
}
.music__control .control span i.prev {
    background-position: -120px 0;
}
.music__control .control span i.play {
    background-position: -160px 0;    
}
.music__control .control span i.next {
    background-position: -240px 0;
}
.music__control .control span i.list {
    background-position: -280px 0;
}
.music__control .control span i.repeat_one {
    background-position: -40px 0;
}
.music__control .control span i.shuffle {
    background-position: -80px 0;
}
.music__control .control span i.stop {
    background-position: -200px 0;
}
.music__control .control span:nth-child(3){
    background-color: #8a9b94b2;
    border-radius: 50%;
}
.music__list {
    padding: 20px 0;
    display: none;
}
.music__list.show {
    display: block;
}
.music__list h3 {
    color: #999;
    position: relative;
    margin-bottom: 10px;
}
.music__list h3 .close {
    position: absolute;
    right: -10px;
    top: -10px;
    background-image: url(../img/music_icon.svg);
    background-position: -320px 0;
    width: 40px;
    height: 40px;
}
.music__list ul {
    height: 160px;
    overflow-y: scroll;
}
.music__list ul::-webkit-scrollbar {
    width: 5px;
}
.music__list ul::-webkit-scrollbar-thumb {
    height: 33%; /* 스크롤바의 길이 */
    background: #2d6867; /* 스크롤바의 색상 */    
    border-radius: 10px;
}
.music__list ul li {
    height: 50px;
    margin-bottom: 5px;
    margin-right: 10px;
    background-color: #ffffff10;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    border-radius: 5px;
}
.music__list ul li:last-child {
    margin-bottom: 0;
}
.music__list ul li.playing {
    background-color: #2d686740;
}
.music__list ul li .img {
    width: 20%;
}
.music__list ul li .img img {
    width: 50px;
    border-radius: 5px;
}
.music__list ul li .title {
    width: 60%;
    padding-left: 5px;
}
.music__list ul li .title strong {
    font-size: 12px;
}
.music__list ul li .title em {
    font-size: 12px;
    margin-left: 5px;
}
.music__list ul li .audio-duration {
    font-size: 12px;
    text-align: right;
    padding-left: 18px;
}