/* reset */
* {
    margin: 0;
    padding: 0;
    color: #fff;
}
*,*::before,*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #222;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
li,ul,ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
em {
    font-style: normal; /*기울기체로 나와서 기울기체 해제*/
}